# Node.js
node_modules/
node_modules/*
node_modules*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/
.vite-cache/

# React
build/
.DS_Store

# Local environment files
.env.local
.env.*.local

# Log files
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history