@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.dragging {
  opacity: 0.5;
  border: 2px dashed #accent;
}

.drop-target-active {
    border: 2px dashed #secondary;
    background-color: rgba(65, 105, 225, 0.1);
}
